<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}
    <div class="page">
      <p>This site was created by little dragon. It uses data from <a href="https://www.mapbox.com/" target="_blank">https://www.mapbox.com/</a> and <a href="https://www.weatherstack.com/" target="_blank"></a>https://weatherstack.com/</p>.</p>
      <img src="/img/dragon.jpeg" />
    </div>
    {{>footer}}
  </body>
</html>